@import "colors/gruvbox-material.css";

* {
     all: unset;
     font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    background-color: @bg0;
    color: @fg;
    border-radius: 0 0 10px 10px;
}


#workspaces {
    background-color: @bg1;
    min-width: 200px;
    padding: 2px 4px;
    margin: 11px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @bg4;
    color: @fg1;
    font-size: 13px;
    font-weight: bold;
    padding: 0px;
    border-radius: 99px;
    margin: 0 3px;
    min-width: 22px;
    min-height: 12px;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 4.2rem;
    transition: none;
}

#clock, #clock#right {
    margin: 0 15px;
    font-weight: 700;
    font-size: 1.12rem;
}

#language {
    color: @fg;              /* Uses your default text color */
    font-size: 1.00rem;      /* Matches your clock text size */
    font-weight: 400;
    padding: 0 0px;
    margin: 0 0;
}

#battery {
    color: @fg;              /* Uses your default text color */
    font-size: 1.12rem;      /* Matches your clock text size */
    font-weight: 700;
    padding: 0 10px;
    margin: 11px 0;
}

/* Optional styling states */
#battery.warning {
    color: @yellow;          /* Colors text yellow during low battery */
}

#battery.critical {
    color: @red;             /* Colors text red during critical battery */
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}
